@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    overflow-x:hidden ;
}


/* chang all container_main to contain_fluid  */

.contain_fluid{
    max-width:90%;
    margin: 0 auto;
}
.cart{
    position: relative;
}
.cart::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: #e31616;
    right: -5px;
    top: -5px;
    border-radius: 50%;
}
.slider{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.slider img{
    max-width: 100% !important;
}
.box_1::before{
   content: "🟡";
}
.box_1{
    margin-left: 40px;
}